<div style="display: flex; justify-content: center">
  <div class="nav-button left" *ngIf="next"
       [routerLink]="['/news/view', next.id]"><{{next.title}}</div>
  <div style="width: 66%; background: #fff8f8; padding: 30px 20px;     height: fit-content;">
    <span style="font-weight: bold;    color: rebeccapurple; padding: 20px">{{news?.title}}</span>
    <hr style="width: 75%">
    @if(news) {
    <div [innerHTML]="news.content"></div>
    } @else if(loaded) {
    La page demandé n'existe pas
    } @else {
    Chargement en cours
    }
  </div>
  <div class="nav-button right" *ngIf="previous"
       [routerLink]="['/news/view', previous.id]">{{previous.title}}>
  </div>

</div>
