<form [formGroup]="form">
  <div class="filters">
    <div class="classe">
      <!--      sur un écran réduit, l'un sur l'autre comme un 8-->
      <div [ngClass]="{'selected-type' : form.get('godCards').value}" (click)="factionChange('dieu')">Dieu
        n°{{god}}</div>
      <div [ngClass]="{'selected-type' : form.get('neutralCards').value}" (click)="factionChange('neutre')">Neutre</div>
    </div>
    <div class="type">
      <img (click)="typeChange('sort')" [ngClass]="{'selected-type' : form.get('isSpell')!.value}">
      <img (click)="typeChange('crea')" [ngClass]="{'selected-type' : form.get('isMinion')!.value}">
    </div>
    <div>
      <div>
        @for (cost of [0, 1, 2, 3, 4, 5, 6, 7]; track cost; let idx = $index, e = $even) {
        <img class="ap-cost" [ngClass]="{'selected-type' : form.get('apValue')!.value == cost}"
               (click)="apSelect(cost)">
        }</div>
      <div style="display:flex;">
        <div class="dropdown">
          <div class="dropbtn">
           <span class="appFont2"
                 [ngClass]="form.get('rarity')!.value.color">
              <span [ngClass]="form.get('rarity')!.value.bgColor"
                    style="width:20px; height:20px; margin: 0 5px; clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);"></span>
             {{ form.get('rarity')!.value.value }}</span></div>
          <div class="dropdown-content">
            @for (rarity of rarityList; track rarity; let idx = $index, e = $even) {
            <span class="appFont2"
                  [ngClass]="rarity.color"
                  (click)="raritySelect(rarity)">
            <span [ngClass]="rarity.bgColor"
                  style="width:20px; height:20px; margin: 0 5px; clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);"></span>
            {{ rarity.value }}</span>
            }
          </div>
        </div>
        <div class="search-input" style="margin-left: 50px;">
          <input class="search-input appFont2"
                 style="padding-left: 10px; width: 150px; "
                 type="text" placeholder="Rechercher ..." formControlName="content">
        </div>
      </div>
      <!--    https://www.w3schools.com/css/css_dropdowns.asp-->
    </div>
  </div>

  <div *ngIf="true" class="extra-filters">
    <!--    https://www.w3schools.com/howto/howto_js_collapsible.asp-->
    <button [ngClass]="{'active': filterSectionActive}"
            (click)="toggleFilterSection()" type="button" class="collapsible"> Filtres optionnels PM / PV Whatever
    </button>
    <div class="content" [ngStyle]="{ 'display' :filterSectionActive ? 'block': 'none'}">
      <p> Au clic sur une carte, ajout dans selectedCards

        Si selectedCards.filter(card => card.rarity === val Krosmique).length === Nbr krosmique max, alors les cartes
        krosmiques à l'écran sont grisées (ngClass)
        Mais pas disabled, et clic ouvre popup "Il ne peut y avoir que X Krosmique dans un deck"

        Meme logique pour les 5 infinites. + Si une infinite selectionnée, ses autres niveaux meme traitement.

        Meme logique pour les autres cartes if selectedCards.filter(card => card.name = ??).length === 3
        Il ne peut y avoir que 3 exemplaires d'une même carte dans le deck.

        Mais ça va etre bourin de faire les check sur chaque carte?</p>
    </div>
  </div>


</form>
