<p>selected-list works!</p>
rappel les cartes sont triées par "Dieu / commune  puis PA
<div class="card infinite appFont2">
  <img>Chuck Maurice
</div>
<div class="card krosmique appFont2">
  <img>Chuck Maurice
</div>
<div class="card neutre appFont2">
  <img>Chuck Maurice
</div>
@for (god of ['iop',  'ecaflip',  'cra',  'eniripsa',  'sacrieur',  'sadida',  'sram',  'xelor',  'enutrof',  'feca']; track god; let idx = $index, e = $even) {
  <div [ngClass]="god" class="card appFont2">
    <img>Chuck Maurice
  </div>

}
