//media query, en dessous de 660px? environ, le header doit avoir que Logo + triple barre pour afficher le menu latéral.


.header-menu {
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;

  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  background: #313282;
  color: white;
}

// Revoir les menus dans les headers pour avoir du routerLinkActive?
.active {
  // border-radius: 10px;
  background: #FFAE00;
}

.library-button.active:hover {
  // border-radius: 10px;
  background: #FFAE00;
}

//.header-menu a {
//  text-decoration: none;
//}

.logo-button {
  left: 10px;
  min-width: 160px;
  font-size: xx-large;
  cursor:pointer;
  //color: #ffd8eb !important; // theme material par defaut
}

.home-button {
  text-align: center;
  width: 60px;
}

.deckbuilder-button {
  text-align: center;
  width: 120px;
}

.library-button {
  text-align: center;
  width: 100px;
  cursor:pointer;
}

.library-button:hover {
  background-color: rgba(255, 174, 0, 0.7);
}

.mat-menu-content {
  //background-color: darkgrey !important;
}

.mat-menu-content a {
  text-decoration: none;
}

.tooltipClass {
  background: #137a7a;
}
