<div class="header-menu">
  <span class="logo-button" routerLink="home">KM TOOLS</span>
  <div style="  position: fixed; left: 250px; display: flex; justify-content: flex-start">
    <span class="home-button" routerLink="home" routerLinkActive="active">Home</span>
    <span class="deckbuilder-button" routerLink="decks/create" routerLinkActive="active">Deckbuilder</span>
    <span class="library-button" routerLink="decks/browse" routerLinkActive="active">Parcourir</span>

    <span *ngIf="isAdmin" class="dropdown-button"
          routerLinkActive="active" [matMenuTriggerFor]="admin">Admin</span>
    <mat-menu #admin="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="menu1">News</button>
      <button mat-menu-item>Videos (TODO)</button>
      <button mat-menu-item>Users (TODO)</button>
    </mat-menu>

    <mat-menu #menu1="matMenu">
      <button mat-menu-item routerLink="news/create">Create</button>
      <button mat-menu-item routerLink="news/edit">Toggle</button>
    </mat-menu>
  </div>

  <div style="position: fixed; right: 20px; ">
    @if (!user) {
      <div (click)="login()">LOGIN</div>
    } @else if (user.username) {
      <span [routerLink]="['/user']">{{ user.username }}</span>
    } @else {
      <span [routerLink]="['/user']">!!!!</span>
    }
  </div>

</div>



