<a [routerLink]="['/decks/view', deck().deckId, deck().version, deck().minorVersion]" class="deck"
   [ngClass]="deck().god"
   style="display:flex; flex-direction:row; cursor:pointer; color:white;">

  <div style="display: flex; flex-direction: column; width: 130px; justify-content:space-around;">
    <div style="position:relative;">
      <img class="deckImgGod" [src]="'/assets/public/gods/GOD_'+deck().god+'.png'"/>
      <div style="position:absolute; width:35px; height:35px; right:16px; bottom:0">
        <img [src]="'/assets/public/picto-PA.png'" style="width:35px; height:35px; position:absolute;"
             class="type">
        <div
          style="font-family: 'geo2', 'arial', sans-serif !important; position:absolute; font-size:1.3em; transform: translate(-50%, -50%); left:50%; top:50%; -webkit-text-stroke: 0.7px #000000;">{{ deck().costAP }}
        </div>
      </div>
    </div>
    <div class="flex-row-center" (click)="onToggleFavorite($event)">
      <mat-icon
        [ngClass]="{iconFavorite: isLoggedIn() && !deck().owned}"
        [ngStyle]="{color: deck().liked ? 'red': 'white'}">favorite
      </mat-icon>
      {{ deck().favoriteCount }}
    </div>
  </div>
  <div class="flex-column-center" style="width: calc(85% - 400px)">
    <div class="title">{{ deck().name }}</div>
    <div >

      <div class="author" style="display: flex"> {{ 'searchDeck.by' | translate }}
        <span class="authorName" style="margin-left: 10px"
              matTooltip="{{ 'searchDeck.addToFilters' | translate:{value: deck().owner} }}"
              (click)="onAddUserFilter($event)">{{ deck().owner }}</span>
        <a [routerLink]="['/user',deck().owner]" style="color:white;">
          <mat-icon matTooltip="{{'searchDeck.goToProfile' | translate}}">contact_page
          </mat-icon>
        </a>
        @if (videoLinkType(); as videoLinkType) {
          <a [href]="videoLink()" target="_blank" matTooltip="{{ 'searchDeck.goToVideo' | translate }}"
             (click)="$event.stopPropagation()"
            class="videoLinkBadge" [ngClass]="videoLinkType">{{ videoLinkType === 'youtube' ? 'YT' : 'TW' }}</a>
        }
      </div>
    </div>
    <div class="creationDate">{{ deck().creationDate | date:'longDate' }}</div>
    <div class="tags" style="display:flex; flex-direction:row;align-items:center;">
      <div style="display:flex; flex-direction:row; height:28px;  z-index: 10;">
        @for (tag of deck().tags; track tag.id) {
          <div (click)="onAddTagFilter(tag.title, $event)" class="tag"
               matTooltip="{{ 'searchDeck.addToFilters' | translate:{value: tag.title} }}"
               [ngStyle]="{'background-color': tag.title === 'guide' ? '#FF474D':'#313282'}">
            @if (tag.iconId) {
              <img class="tagImg" [src]="'/assets/public/tagIcon/'+tag.iconId"/>
            }
            <span style="font-size:20px; white-space:nowrap;">
              {{ tag.title }}</span>
          </div>
        }
      </div>
    </div>
  </div>
  <div style="position:absolute; right: 0">
    <app-highlight-display [illustrations]="deck().highlights"></app-highlight-display>
  </div>
</a>
