#container {
  width: 80vw;
}

.filterWrapper {
  display: flex;
}

.toggleFavoriteButton {
  border: #FFAE00 solid 2px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #313282;
}

.card {
  height: 40px;
  border: rgba(255, 255, 255, 0.62) solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.62);
  display: flex;
  align-items: center;

  color: white;
  font-size: 16px;
  font-weight: 400;
  -webkit-text-stroke: 0.7px #000000;
}

.card:hover {
  filter: grayscale(100%);
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-around
}


.godMiniaFiltered {
  width: 50px;
  cursor: pointer;
}

.godMiniaFiltered:hover {
  filter: grayscale(100%);
}
