#container {
  width: 80vw;
}

.listDeck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start
}

.deckImgPa {
  width: 30px;
}

.deckImgDust {
  width: 30px;
}

.deckImgHeart {
  width: 80px;
}

.container {
  display: flex;
  justify-content: space-around
}

app-deck-preview {
  width: 100%;
}
