<form [formGroup]="searchForm" (ngSubmit)="search()">
  <app-section>
    <ng-container section-header>
      <div class="sectionTitle">{{ 'searchDeck.title' | translate }}</div>
    </ng-container>

    <ng-container after-section-header>
      <div routerLink="/decks/create"
           class="afterSectionTitle">
        <div class="actionButton">{{ 'searchDeck.createButton' | translate }}</div>
      </div>
    </ng-container>

    <app-search-deck-filters
      [isLoggedIn]="isLoggedIn"
      [allTags]="allTags()"
      [allUsers]="allUsers()"
      [filtersOpen]="filtersOpen()"
      [favoritesOnly]="favoritesOnly()"
      [sortFilter]="sortFilter()"
      [sortOrder]="sortOrder()"
      [selectedGods]="selectedGods()"
      [selectedTags]="selectedTags()"
      [selectedNegativeTags]="selectedNegativeTags()"
      [selectedCards]="selectedCards()"
      [selectedUsers]="selectedUsers()"
      [selectedNegativeUsers]="selectedNegativeUsers()"
      (closeFilters)="closeFilters()"
      (toggleFilters)="toggleFilters()"
      (resetFilters)="resetFilters()"
      (toggleFavoriteFilter)="toggleFavoriteFilter()"
      (setFilter)="setFilter($event)"
      (selectGod)="selectGod($event)"
      (removeGod)="removeGod($event)"
      (selectTag)="selectTag($event)"
      (selectNegativeTag)="selectNegativeTag($event)"
      (removeTag)="removeTag($event)"
      (removeNegativeTag)="removeNegativeTag($event)"
      (selectCard)="selectCard($event)"
      (removeCard)="removeCard($event)"
      (selectUser)="selectUser($event)"
      (selectNegativeUser)="selectNegativeUser($event)"
      (removeUser)="removeUser($event)"
      (removeNegativeUser)="removeNegativeUser($event)">
    </app-search-deck-filters>
  </app-section>
  <app-section>
    <div class="listDeck">
      @if (decks() && !decks().length) {
        <div style="display:flex; align-content:center; flex-direction:column; align-items:center; width:100%;">
          <img style="width:250px;" src="/assets/public/nothing_placeholder.png">
          {{ 'searchDeck.noResult' | translate }}
        </div>
      } @else {
        <div style="align-self: center">
          <app-pagination [pageNumber]="searchResults?.pageNumber +1" [totalPages]="searchResults?.totalPages"
                          (pageUp)="pageUp()" (pageDown)="pageDown()" (pageSet)="pageSet($event)"></app-pagination>
        </div>
        @for (deck of decks(); track deck.deckId) {
          <app-deck-preview [deck]="deck" [isLoggedIn]="isLoggedIn"
                             (toggleFavorite)="toggleFavorite(deck)"
                             (addUserFilter)="addUserFilterFromResult($event)"
                             (addTagFilter)="addTagFilterFromResult($event)"></app-deck-preview>
        }
      }
      <div style="align-self: center">
        <app-pagination [pageNumber]="searchResults?.pageNumber +1" [totalPages]="searchResults?.totalPages"
                        (pageUp)="pageUp()" (pageDown)="pageDown()" (pageSet)="pageSet($event)"></app-pagination>
      </div>
    </div>
  </app-section>
</form>
