.appFont2 {
  font-family: 'geo2', 'arial', sans-serif !important;
  font-size:1vw;
}



.color-common {
  color: #B8A27B;
}

.color-uncommon {
  color: #88B6EA;
}

.color-rare {
  color: #FFAE00;
}

.color-krosmique {
  color: #d46eea;
}

.color-infinite {
  color: #FFFFEE;
}

.bg-color-common {
  background: #B8A27B !important;
}

.bg-color-uncommon {
  background: #88B6EA !important;
}

.bg-color-rare {
  background: #FFAE00 !important;
}

.bg-color-krosmique {
  background: #D46EEA !important;
}

.bg-color-infinite {
  background: #FFFFEE !important;
}
