.godMiniaFiltered {
  width: 50px;
  cursor: pointer;
}

.entry-bubble {
  width: 35px;
  height: 30px;
  position: absolute;
  left: 5px;
}

.dropdown:hover .dropbtn {
  width: 100%;
}


.user:hover {
  background: rgb(165, 190, 255, 0.5) !important;
}


.user {
  box-sizing: border-box;
  height: 40px;
  width: 300px;

  display: flex;
  align-items: center;

  color: white;
  font-size: 16px;
  font-weight: 400;
  -webkit-text-stroke: 0.7px #000000;
}

