.streams-panel {
  display: flex;
  flex-wrap: wrap;
}

.stream-thumbnail {
  width: 320px;
  height: 100%;
  margin: 10px 10px 15px 10px;
  transition: all 0.35s;
}

.stream-thumbnail:hover {
  transform: scale(1.05);
}

.stream-thumbnail:hover > a > img {
  background-color:rgba(255, 255, 255, 0.3);
}

.stream-displayName {
  font-size: 1.1em;
  font-weight: bolder;
  color:white;
}

.stream-title {
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:white;
}

.stream-profilePic {
  width: 40px;
  height: 40px;
  border-radius: 20px 20px;
}
