.streams-panel {
  //aspect de "la boite"
  // largeur 100% du "main-body"
  //height: 30vh;

  // aspect du contenu
  display: flex;
  flex-wrap: wrap;

}

#fill {
  flex-grow:2;
  border-bottom: 0.2em solid #FFAE00;
 }

 .fill:hover {
 }

.streams-tab {
  display:flex;
  overflow:hidden;
}

.streams-tab button:hover {
  background-color: #ddd;
}

.streams-tab button {
   background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 0.2em solid #FFAE00;
 }

.streams-tab button.active {
border-bottom:none;
border-top: 0.2em solid #FFAE00;
  border-right: 0.2em solid #FFAE00;
  border-left: 0.2em solid #FFAE00;

  }
.stream-thumbnail {
  width: 320px;
  height: 100%;
  margin: 10px 10px 15px 10px;
  //padding:5px;
}

.stream-thumbnail:hover {
  background-color:rgba(255, 255, 255, 0.3);
  }
.stream-thumbnail > a > img {
}

.stream-displayName {
  font-size: 0.8em;
  font-weight: bolder;
  color:white;
}

.stream-title {
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:white;
}

.stream-profilePic {
  width: 40px;
  height: 40px;
  border-radius: 20px 20px;
}
