<div class="dropdown" (click)="filterTags()">
  <input class="dropbtn appFont2"
         (keyup)="filterTags()"
         [(ngModel)]="tagSearch"
         [ngModelOptions]="{standalone: true}"
         style="padding-left: 20px; width: 298px; height: 100%; box-sizing: border-box; border-radius: 2px;"
         type="text" placeholder="Tags">
  <div id="p2" class="dropdown-content" [ngStyle]="{'display' : displayDropdown ? 'block' : 'none'}">
    @for (tag of displayedTags; track tag.title) {
      <div class="tag appFont2" (click)="selectTag(tag)" style="position:relative;">
        <span class="entry-bubble" *ngIf="withCount">
          {{ tag.count }}
        </span>
        <div style="position:absolute; left:55px; width:235px;">
          <div
            style="overflow:hidden; padding-bottom:3px; padding-top:3px; text-overflow:ellipsis; white-space:nowrap;"> {{ tag.title }}
          </div>
        </div>
      </div>
    }
  </div>
</div>

