$borderColor: #c8961a;

$iop: #A3210E;
$ecaflip: #6C1084;
$cra: #424617;
$eniripsa: #B54C3C;
$sacrieur: #302821;
$sadida: #6B7200;
$sram: #39405A;
$xelor: #263578;
$enutrof: #9B7400;
$feca: #523C39FF;
$neutre: #b7a17a;

$common: #B8A27B;
$uncommon: #88B6EA;
$rare: #FFAE00;
$krosmique: #D46EEA;
$infinite: #FFFFEE;
