@if (totalPages() > 1) {
  <div style="display:flex; justify-content:center;align-items: center">
    <button class="paginationBtn" type="button" (click)="down()">«</button>
    @for (page of pagination(); track page) {
      <button class="paginationBtn" type="button" (click)="set(page)"
              [ngStyle]="{'background-color': page === pageNumber() ? '#FF474D':'#313282'}"> {{ page }}
      </button>
    }
    <button class="paginationBtn" type="button" (click)="up()">»</button>
  </div>
}
