.dropdown:focus {
  z-index: 5;
}

.dropbtn {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(20, 43, 128, 0.9) 10%, rgba(13, 34, 121, 0.9) 35%, rgb(30, 54, 158, 90%) 65%, rgb(60, 39, 185, 90%) 95%);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  width: 300px;
  height: 50px;
  position: relative;
  display: inline-block;

  border: solid 1px #ffffff7a;
  border-radius: 5px;
  box-sizing: border-box;
}


.dropdown:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 1px 0px 20px 0px white;
}

.dropdown-content {
  width: 100% !important;
  display: none;
  position: absolute;
  background: linear-gradient(90deg, rgba(20, 43, 128, 0.9) 10%, rgba(13, 34, 121, 0.9) 35%, rgb(30, 54, 158, 90%) 65%, rgb(60, 39, 185, 90%) 95%);

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.entry-bubble {
  width: 40px;
  height: 30px;
  position: absolute;
  left: 5px;
  padding-top: 3px;
  border-radius: 10px;
  background: #88B6EA;
  text-align: center;
  border: solid #b5b3ec 1px;
  box-sizing: border-box;
}

//.entry-bubble:hover {
//  background-color: rgb(165, 190, 255, 0.5)
//}

.dropdown:hover .dropdown-content {
  // display: block;
}

.dropdown:hover .dropbtn {
  width: 100%;
  //background-color: #4982ea;
}


.user:hover {
  background: rgb(165, 190, 255, 0.5) !important;
}


.user {
  border: rgba(255, 255, 255, 0.62) solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
}

.user {
  height: 40px;
  width: 300px;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.62);
  display: flex;
  align-items: center;

  color: white;
  font-size: 16px;
  font-weight: 400;
  -webkit-text-stroke: 0.7px #000000;
}

.appFont2 {
  color: white !important;
  font-family: 'geo2', 'arial', sans-serif !important;
}

