<div style="display: flex; width: 100%; color: white;
  justify-content: space-evenly">
  <div style="
  margin-top: 3vh;
  width: 75%;
  display: flex;
  flex-direction: column;
">
    <div
      style="font-weight:bolder; font-size: 30px; padding: 20px; margin-bottom: 2vh; display:inline;">
      Recherche de Decks
    </div>

    <div style="border: #FFAE00 solid 2px; box-sizing: border-box;    padding: 20px;">

<div id="sortDiv" >
  @for (godIndex of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track godIndex) {
    <img [src]="'/assets/public/gods/GOD_'+God[godIndex]+'.png'" (click)="toggleGod(godIndex)"
         [ngClass]="{'isSelected' : gods.includes(godIndex)}">
  }
  <button (click)="resetFilters()"> clear filters</button>
</div>

<div class="listDeck">
  @for (deck of decks; track deck.deckId) {
    <div [routerLink]="['/decks/view', deck.deckId]" class="deck" [ngClass]="deck.god">
      <img class="deckImgGod" [src]="'/assets/public/gods/GOD_'+deck.god+'.png'"/>
      <div class="deckData">
        <div class="title">{{ deck.name }}</div>
        <div class="author">{{ deck.owner }}</div>
        <div style="display: flex; align-items: flex-end">
          <div class="costPA">
            <img class="deckImgPa" src="/assets/public/creatureIcon.png"/>
            <div class="costPaText">{{ deck.costAP }}</div>
          </div>
          <div class="costDust">
            <img class="deckImgDust" src="assets/public/reward_fragments.png"/>
            <div class="costDustText">{{ deck.costDust }}</div>
          </div>
          <div class="costDust">
            <img class="deckImgDust" src="assets/public/creatureIcon.png"/>
            <div class="costDustText">{{ deck.costDust }}</div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
</div>
</div>
</div>
