<div style="width: 100%; height: calc(100% - 80px)">
  <hr>
  <div style="display: flex; justify-content: space-between;">
    <div style="width: 70%;">
      <app-filter-form [god]="god" [form]="form"></app-filter-form>
      <div style="background: #B8A27B; height: 100%">
        <div style="display: flex; flex-wrap: wrap">
          @for (card of testCards; track card.id; let idx = $index) {
            <img [src]="'/assets/public/'+card.cardFilePath" [ngStyle]="{ 'width.vw' : false ? '14': '9'}"
                 (click)="selectCard(card, $event)"
                 class="" [ngClass]="{'selected-type': false, 'grey': isDisabled(card)}">
          }</div>

      </div>
    </div>
    <app-selected-list [synthese]="synthese" [syntheseCost]="syntheseCost" [max]="max" (removeCard)="removeCard($event)"
                       style="width: 20%;"></app-selected-list>
  </div>

  <button (click)="saveDeck()"> CREATE</button>


</div>
