<km-section [title]="currentTab ===1 ? null : isUpdate ? 'Mise à jour du deck' : 'Création du deck'"
            [titleSuffix]="currentTab ===0 ? ' --- Choix du dieu' : ' --- Compléments'"
            [forceSize]="currentTab ===1"
            [requiresLogin]="true">
  <div id="regForm" style="height: 100%">

    <!-- Circles which indicates the steps of the form: -->
    <!--    <div style="text-align:center;margin-top:10px;">-->
    <!--      <div *ngIf="currentTab ===0" style="color:white;">Choix du dieu</div>-->
    <!--      <div *ngIf="currentTab ===1" style="color:white;">Création du deck</div>-->
    <!--      <div *ngIf="currentTab ===2" style="color:white;">Détails</div>-->
    <!--      <div style="display: flex; justify-content: center">-->
    <!--        <button *ngIf="currentTab > 0" type="button" id="prevBtn" (click)="nextPrev(-1)">Previous</button>-->
    <!--        <span [ngStyle]="{'background': currentTab ===0 ? 'white' : 'grey'}" class="step"></span>-->
    <!--        <span [ngStyle]="{'background': currentTab ===1 ? 'white' : 'grey'}" class="step"></span>-->
    <!--        <span [ngStyle]="{'background': currentTab ===2 ? 'white' : 'grey'}" class="step"></span>-->
    <!--        <button [disabled]="currentTab == 0 && !god || currentTab == 1 && selectedCards.length != 11"-->
    <!--                *ngIf="currentTab < 2" type="button" id="nextBtn" (click)="nextPrev(1)">Next-->
    <!--        </button>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <hr>-->
    <!-- || currentTab == 1     && selectedCards.length != 45"-->
    <button *ngIf="currentTab == 2 || currentTab == 1 && !isUpdate" type="button" id="prevBtn" (click)="nextPrev(-1)">
      Previous
    </button>
    <button [disabled]="currentTab == 0 && !god "
            *ngIf="currentTab < 2" type="button" id="nextBtn" (click)="nextPrev(1)">Next
    </button>
    <div class="godType" *ngIf="currentTab === 0">
      <div id="sortDiv">
        @for (godIndex of [1, 4, 2, 3, 8, 10, 6, 7, 5, 9]; track godIndex) {
          <div class="imgContainer prevent-select">
            <img [src]="'/assets/public/gods/GOD_'+God[godIndex]+'.png'" (click)="selectGod(godIndex)"
                 [ngClass]="{'isSelected' : god === godIndex}" class="prevent-select">
          </div>
        }
      </div>

      <!-- Cloner ou modifier un de vos anciens deck : Liste des 6 derniers deck du joueur pour le dieu selectionné -->
    </div>


    <div class="deckbuilder" *ngIf="currentTab === 1" style="width: 100%; height: calc(100% - 45px)">

      <div class="container shortScreenContainer ">
        <div *ngTemplateOutlet="SHORT_MAIN"></div>
        <button style=" width: 80px; height: 40px;
        background: #3d1470; color: white;
        position: absolute;right: 5px; bottom: 20px;">
          <span [ngStyle]="{'color': 45 === selectedCards.length ? 'white': 'red'}">{{ selectedCards.length }} </span> /
          45
        </button>
      </div>


      <div class="container largeScreenContainer">
        <!--           style="display: flex; justify-content: space-around; flex-wrap: wrap; height: 100%">-->
        <div *ngTemplateOutlet="MAIN"></div>
        <div *ngTemplateOutlet="SYNTHESIS"></div>
      </div>


    </div>
    <!--    <div *ngIf="currentTab === 2">-->
<!--    permet d'avoir l'editeur quill généré et donc le setter à l'init, à voir si ça pose souci-->
    <div [hidden]="currentTab !== 2">
      <div class="validation">
        <form [formGroup]="deckForm">
          <div style="display: flex; flex-direction: column; padding: 5px;">
            <label style="font-size: 20px"> Nom du deck : </label>
            <input style="width: 300px;" formControlName="name">
          </div>

          <div style="display: flex; flex-direction: column; height: 300px; padding: 5px;">
            <label style="font-size: 20px"> Présentation du deck : </label>
            <div style="display: flex; flex-direction: column; height: 250px; position: relative">
              <div style="display: flex; flex-direction: column; width: 30%">
                <label style="font-size: 15px; margin-top: 30px"> Template : </label>
                <div>
                  <button (click)="illustDown()">-</button>
                  {{ illustrationsNumber }}
                  <button (click)="illustUp()">+</button>
                </div>
              </div>

              <div *ngIf="illustrationsNumber > 0" style="display: flex; flex-direction: column; width: 730px">
                <label style="font-size: 15px; margin-top: 30px"> Choix des cartes : </label>
                <div style="display: flex; flex-direction: row">
                  <div>

                    <app-card-dropdown *ngIf="illustrationsNumber"
                                       [cardOptions]="synthesisAsList"
                                       [selectedCards]="illustrations"
                                       (onSelectCard)="setCardAtIndex($event, selectedIndex)"></app-card-dropdown>
                  </div>
                </div>

                <div style="position: absolute; top: 10px; left: 400px" *ngIf="illustrationsNumber=== 1">
                  <div *ngTemplateOutlet="ONE_ILLUST"></div>
                </div>
                <div style="position: absolute; top: 10px; left: 400px" *ngIf="illustrationsNumber=== 2">
                  <div *ngTemplateOutlet="TWO_ILLUST"></div>
                </div>
                <div style="position: absolute; top: 10px; left: 400px" *ngIf="illustrationsNumber=== 3">
                  <div *ngTemplateOutlet="THREE_ILLUST"></div>
                </div>

              </div>
            </div>
          </div>

          <div style="display: flex; flex-direction: column; width: fit-content; padding: 5px;">
            <label style="font-size: 20px"> Tags : </label>
            <div style="background: #c6f8ff">
              <app-tag-dropdown [selectedTags]="selectedTags"
                                (onSelectTag)="selectTag($event)">
              </app-tag-dropdown>
            </div>
            <div style="display: flex; flex-wrap: wrap; width: 500px">
              @for (tag of selectedTags; track tag.title) {
                <div class="card appFont2" (click)="removeTag(tag)"
                     style="background: #88B6EA;   border: solid 1px #ffffff7a;  border-radius: 5px;
 height: 40px; font-size: 16px;  font-weight: 400;">
                  <span style="padding: 0 5px"> {{ tag.title }} </span>
                </div>
              }</div>
          </div>

          <div style="display: flex; flex-direction: column; width: fit-content; padding: 5px;">
            <label style="font-size: 20px"> Description : </label>
            <!--            la div qui englobe permet de donner un style au background (toolbar + input) et le style de l'editor force pour l'input -->
            <div style="background: #c6f8ff">
              <quill-editor
                class="content-editor"
                #editor
                [modules]="quillConfiguration"
                [styles]="{height: '200px', 'min-width': '500px', background:'white', color: 'black'}"
                (onContentChanged)=handleContentChange($event)></quill-editor>
            </div>
          </div>


          <div style="display: flex; justify-content: flex-end">
            <button [disabled]="deckForm.invalid || countDefaultCards() !== (3-illustrationsNumber)"
                    (click)="saveDeck()"> {{isUpdate ? 'Enregistrer': 'Créer le deck'}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</km-section>


<ng-template #ONE_ILLUST>
  <div>
    <img [src]="'/assets/public/card/fr/'+CARD_ILLUSTRATIONS[illustrations[0].id]"
         style="position: absolute;"
         [ngStyle]="{ 'width.px' : '160', 'height': 'fit-content', 'filter' : selectedIndex === 0 ? 'drop-shadow(0 0 15px #FAC800FF)' : ''}"
         (click)="selectIndex(0)"
         class="imgDeckBuilder">
  </div>
</ng-template>
<ng-template #TWO_ILLUST>
  <div>
    <img [src]="'/assets/public/card/fr/'+CARD_ILLUSTRATIONS[illustrations[0].id]"
         style="position: absolute; rotate: -8deg"
         [ngStyle]="{ 'width.px' : '160', 'height': 'fit-content', 'filter' : selectedIndex === 0 ? 'drop-shadow(0 0 15px #FAC800FF)' : ''}"
         (click)="selectIndex(0)"
         class="imgDeckBuilder">
    <img [src]="'/assets/public/card/fr/'+CARD_ILLUSTRATIONS[illustrations[1].id]"
         style="position: absolute;margin-left: 130px; rotate: 8deg"
         [ngStyle]="{ 'width.px' : '160', 'height': 'fit-content', 'filter' : selectedIndex === 1 ? 'drop-shadow(0 0 15px #FAC800FF)' : ''}"
         (click)="selectIndex(1)"
         class="imgDeckBuilder">
  </div>
</ng-template>
<ng-template #THREE_ILLUST>
  <div>
    <img [src]="'/assets/public/card/fr/'+CARD_ILLUSTRATIONS[illustrations[0].id]"
         style="position: absolute; rotate: -15deg; top: 8px"
         [ngStyle]="{ 'width.px' : '160', 'height': 'fit-content', 'filter' : selectedIndex === 0 ? 'drop-shadow(0 0 15px #FAC800FF)' : ''}"
         (click)="selectIndex(0)"
         class="imgDeckBuilder">
    <img [src]="'/assets/public/card/fr/'+CARD_ILLUSTRATIONS[illustrations[1].id]"
         style="position: absolute; left: 100px; z-index: 5"
         [ngStyle]="{ 'width.px' : '160', 'height': 'fit-content', 'filter' : selectedIndex === 1 ? 'drop-shadow(0 0 15px #FAC800FF)' : ''}"
         (click)="selectIndex(1)"
         class="imgDeckBuilder">
    <img [src]="'/assets/public/card/fr/'+CARD_ILLUSTRATIONS[illustrations[2].id]"
         style="position: absolute;left: 200px; rotate: 15deg; top: 8px"
         [ngStyle]="{ 'width.px' : '160', 'height': 'fit-content', 'filter' : selectedIndex === 2 ? 'drop-shadow(0 0 15px #FAC800FF)' : ''}"
         (click)="selectIndex(2)"
         class="imgDeckBuilder">
  </div>
</ng-template>


<ng-template #MAIN>
  <div class="formAndCards">
    <app-filter-form [god]="god" [form]="form"></app-filter-form>
    <div style="display: flex; height: calc(100% - 100px)">
      <button class="buttonChangePage" (click)="pageDown()"> <</button>
      <div style="width: 100%;">

        <div class="cards">
          @for (card of displayedCards; track card.id; let idx = $index) {
            <img [src]="'/assets/public/card/fr/'+CARD_ILLUSTRATIONS[card.id]"
                 (click)="selectCard(card, $event)"
                 class="imgDeckBuilder" [ngClass]="{'selected-type': false, 'grey': isDisabled(card)}">
          }
        </div>
      </div>
      <button class="buttonChangePage" (click)="pageUp()"> ></button>
    </div>
  </div>
</ng-template>

<ng-template #SHORT_MAIN>
  <div class="formAndCards">
    <app-filter-form [god]="god" [form]="form"></app-filter-form>
    <div style="display: flex; height: calc(100% - 100px)">
      <button class="buttonChangePage" (click)="pageDown()"> <</button>
      <div style="display: flex; flex-wrap: wrap; width: 100%; justify-content: center">

        @for (card of displayedCards; track card.id; let idx = $index) {
          <img [src]="'/assets/public/card/fr/'+CARD_ILLUSTRATIONS[card.id]"
               [ngStyle]="{ 'width.px' : '160', 'height': 'fit-content'}"
               (click)="selectCard(card, $event)"
               class="imgDeckBuilder" [ngClass]="{'selected-type': false, 'grey': isDisabled(card)}">
        }
      </div>
      <button class="buttonChangePage" (click)="pageUp()"> ></button>
    </div>
  </div>
</ng-template>


<ng-template #SYNTHESIS>
  <app-selected-list [synthese]="synthese" [syntheseCost]="syntheseCost" [max]="max"
                     (removeCard)="removeCard($event)"
                     style="width: 20%;"></app-selected-list>
</ng-template>
