.deckImgGod {
  width: 120px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.tag {
  display: flex;
  flex-direction: row;
  background-color: #313282;
  border-radius: 20px;
  position: relative;
  align-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px
}

.buttonUpdate {
  border: solid 2px #594867;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 0 10px;
  margin: 0 5px;
}

.buttonUpdate span {
  padding-right: 5px
}

.buttonUpdate mat-icon {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.buttonUpdate:hover, .likeButton:hover {
  -webkit-box-shadow: inset 1px 0px 20px 0px white;
  cursor: pointer;
}

.viewDeckContainer {
  margin: 0 auto;
  width: 75%;
}

.columnContainer {
  display: flex;
  flex-direction: column;
}


@media (max-width: 1700px) {
  .viewDeckContainer {
    margin: 0 auto;
    width: 100%;
  }
}

.container {
  width: 100%;
  display: flex;
}

.shortScreenContainer {
  flex-direction: column;
}

.largeScreenContainer {
  flex-direction: row;
}

@media (max-width: 1399px) {
  .largeScreenContainer {
    display: none;
  }
  .viewDeckContainer {
    min-width: unset
  }
}

@media (min-width: 1400px) {
  .shortScreenContainer {
    display: none;
  }

  .viewDeckContainer {
    min-width: 1400px
  }
}


@media only screen and (min-width: 1824px) {
  .cardColumn {
    width: 25%;
  }
}


.customAfterSectionTitle:hover {
  -webkit-box-shadow: inset 1px 0px 20px 0px white;
  cursor: pointer;
}

.customBeforeSectionTitle {
  display: flex;
  align-items: baseline;
}

.customBeforeSectionTitle:hover {
  -webkit-box-shadow: inset 1px 0px 20px 0px white;
  cursor: pointer;
}
