@if (data()) {
  <app-section [backtrackPath]="'/decks/browse'" [title]=" title()" [titleSuffix]="'par ' + owner()">
    <div before-section-header style="position:relative;">
      <div [ngStyle]="{cursor: canClone() && !canEdit() ? 'pointer': 'default'}"
           style="display: flex; justify-content: center; flex-direction:row; position: absolute; top:-70px; left: -50px; border:1px solid white;"
           (click)="toggleFavorite(data());$event.stopPropagation();$event.preventDefault()"
            class="likeButton">
        <mat-icon class="iconFavorite" [ngStyle]="{color: data().liked ? 'red': 'white'}">favorite</mat-icon>
        {{ data().favoriteCount }}
      </div>
    </div>

    <div after-section-header style="position:relative;">
      <mat-icon class="backArrow" [routerLink]="'/decks/browse'" style="position: absolute; top:-80px; right: 20px">keyboard_backspace</mat-icon>
    </div>

    <div style="display: flex; height: 30px; margin-bottom: 5px">

      <div style="border: solid 2px #594867; display: flex; justify-content: space-around; padding: 0 10px;">
        <span style="align-content:center; padding-right:5px;"> Version</span>
        <app-version-dropdown [deckId]="id()" [currentVersion]="version()" [minorVersion]="minorVersion()"
                              [allVersions]="versions()"/>
      </div>

      @if (canClone()) {
      <div
        style="border: solid 2px #594867; display: flex; cursor: pointer; justify-content: space-evenly"
        [routerLink]="['/decks/create']" [queryParams]="{from: id(), v:version(), mV:minorVersion()}"  class="buttonUpdate">
        <span style="align-content:center;"> Dupliquer </span>
        <mat-icon style="font-size: 16px;" [matTooltip]="'Créer un NOUVEAU deck à partir de cette version'">
          info
        </mat-icon>
      </div>
      }

      @if (canEdit()) {
        <div
          style="border: solid 2px #594867; display: flex; cursor: pointer; justify-content: space-evenly"
          [routerLink]="['/decks/edit', id(), version(), minorVersion()]"  class="buttonUpdate">
          <span style="align-content:center;"> Editer </span>
          <mat-icon style="font-size: 16px;" [matTooltip]="'Modifier le deck existant à partir de cette version'">info
          </mat-icon>
        </div>
      }

      @if (canEdit()) {
      <div
        style="border: solid 2px red; display: flex; cursor: pointer; justify-content: space-evenly; color:red;"
        (click)="deleteDeckConfirmation(data());$event.stopPropagation();$event.preventDefault()"  class="buttonUpdate">
        <span style="align-content:center;"> Supprimer </span>
        <mat-icon style="font-size: 16px;" [matTooltip]="'Supprime définitivement ce deck et toutes ses versions.'">warning
        </mat-icon>
      </div>
      }
    </div>
    <div class="container shortScreenContainer">
      <div *ngTemplateOutlet="STATS"></div>
      <div *ngTemplateOutlet="CARDS"></div>
      <div *ngTemplateOutlet="DESC"></div>
    </div>

    <div class="container largeScreenContainer">
      <div class="columnContainer">
        <div *ngTemplateOutlet="STATS"></div>
        <div *ngTemplateOutlet="CARDS"></div>
      </div>
      <div *ngTemplateOutlet="DESC"></div>
    </div>

  </app-section>

}

<!--TEMPLATES-->

<ng-template #STATS>
  <div
    style="border: #FFAE00 solid 2px; box-sizing: border-box; display: flex; flex-direction:column; width: 100%; padding: 10px;">
    <div style="display:flex;">
      <div style="position:relative;">
        @if (data()?.god) {
          <img class="deckImgGod" [src]="'/assets/public/gods/GOD_'+ data().god +'.png'"/>
        }
        <div style="position:absolute; width:45px; height:45px; right:20px; bottom:20px;">
          <img [src]="'/assets/public/picto-PA.png'" style="width:45px; height:45px; position:absolute;" class="type">
          <div
            style="font-family: 'geo2', 'arial', sans-serif !important; position:absolute; font-size:1.3em; transform: translate(-50%, -50%); left:50%; top:50%; -webkit-text-stroke: 0.7px #000000;">{{ data().costAP }}
          </div>
        </div>

      </div>
      <app-synthesis [syntheseCost]="syntheseCost()" [max]="max()"></app-synthesis>
      <app-rarity-synthesis [raritySynthesis]="syntheseRarete()"></app-rarity-synthesis>
    </div>
    <div style="display:flex; flex-direction:row; flex-wrap:wrap; margin-top:5px;">
      @for (tag of data().tags; track tag.id) {
        <div class="tag"
             [ngStyle]="{'background-color': tag.title === 'guide' ? '#FF474D':'#313282'}">
          @if (tag.iconId) {
            <img style="width:20px; height:20px; margin-right:5px;" class="tagImg"
                 [src]="'/assets/public/tagIcon/'+tag.iconId+''"/>
          }
          <span style="font-size:20px;">{{ tag.title }}</span>
        </div>
      }
    </div>

  </div>
</ng-template>
<ng-template #DESC>
  <div
    style="box-sizing: border-box; display: flex; width: 100%; padding: 5px">
    <div style="width: 100%; border: 2px solid white; padding:10px 5px 5px 5px; position:relative;">
      <span style="position:absolute; top:-10px; right:-10px; background:#262241; border: 2px solid white; padding:2px;">Description</span>
      <div [innerHTML]="description()"></div>

    @if (displayTwitchIframe()) {
      <div style=" aspect-ratio: 16 / 9;">
        <iframe title='twitchPlayer' [src]="twitchIframeUrl()" height="100%" width="100%" allowfullscreen="true"></iframe>
      </div>
    }

    @if (displayYoutubeIframe()) {
      <div style="width: 100%; background: black; display: flex; justify-content: center">
        <div>
          <youtube-player [videoId]="youtubeVideoId()"/>
        </div>
      </div>
    }
    </div>
  </div>
</ng-template>

<ng-template #CARDS>
  <div style="box-sizing: border-box; display: flex; width: 100%;">
    <app-view-list style="width: 100%"
                   [cards]="data()?.cards" [data]="data()"></app-view-list>
  </div>
</ng-template>
