@if (deck()) {
  <app-section>
    <ng-container section-header>
      <div class="sectionTitle">{{ title() }}</div>
      <div class="sectionSubtitle">{{ 'viewDeck.by' | translate }} {{ owner() }}</div>
    </ng-container>

    <ng-container before-section-header>
      <div class="beforeSectionTitle customBeforeSectionTitle"
           [ngStyle]="{cursor: canClone() && !canEdit() ? 'pointer': 'default'}"
           (click)="toggleFavorite(deck());$event.stopPropagation();$event.preventDefault()">
        <mat-icon class="iconFavorite" [ngStyle]="{color: deck().liked ? 'red': 'white'}">favorite</mat-icon>
        {{ deck().favoriteCount }}
      </div>
    </ng-container>

    <ng-container after-section-header>
      <div class="afterSectionTitle customAfterSectionTitle" [routerLink]="'/decks/browse'">
        <mat-icon>keyboard_backspace</mat-icon>
      </div>
    </ng-container>

    <div style="display: flex; margin-bottom: 5px">
      <div style="display: flex;">
        <span style="align-content:baseline; padding-right:5px;"> Version</span>
        <app-version-dropdown [deckId]="id()" [currentVersion]="version()" [minorVersion]="minorVersion()"
                              [allVersions]="versions()"/>
      </div>

      @if (canClone()) {
        <div [routerLink]="['/decks/create']" [queryParams]="{from: id(), v:version(), mV:minorVersion()}"
             class="actionButton buttonUpdate">
          <span style="align-content:center;"> {{ 'viewDeck.duplicate' | translate }} </span>
          <mat-icon style="font-size: 16px; height: unset;" matTooltip="{{ 'viewDeck.duplicateTooltip' | translate }}">
            info
          </mat-icon>
        </div>
      }

      @if (canEdit()) {
        <div [routerLink]="['/decks/edit', id(), version(), minorVersion()]" class="buttonUpdate">
          <span style="align-content:center;"> {{ 'viewDeck.edit' | translate }} </span>
          <mat-icon style="font-size: 16px;" matTooltip="{{ 'viewDeck.editTooltip' | translate }}">
            info
          </mat-icon>
        </div>
      }

      @if (canEdit()) {
        <div style="color:red; border: solid 2px red;" (click)="deleteDeckConfirmation(deck())" class="buttonUpdate">
          <span style="align-content:center;"> {{ 'viewDeck.delete' | translate }} </span>
          <mat-icon style="font-size: 16px;" matTooltip="{{ 'viewDeck.deleteTooltip' | translate }}">
            warning
          </mat-icon>
        </div>
      }
    </div>
    <div class="container">
      <div class="columnContainer">
        <div *ngTemplateOutlet="STATS"></div>
        <div *ngTemplateOutlet="CARDS"></div>
      </div>
      @if (hasDescriptionContent() || displayTwitchIframe() || displayYoutubeIframe()) {
        <div class="columnContainer descColumn">
          <div *ngTemplateOutlet="DESC"></div>
        </div>
      }
    </div>
  </app-section>

}

<!--TEMPLATES-->

<ng-template #STATS>
  <div class="deckStats">
    <div style="display:flex; align-items: center; justify-content: space-around; flex-wrap: wrap; gap: 10px 5px">
      <app-god-crest [god]="deck()?.god" [costAP]="deck().costAP" [allowResize]="false"></app-god-crest>
      <app-rarity-synthesis [raritySynthesis]="syntheseRarete()"></app-rarity-synthesis>
      <app-synthesis [syntheseCost]="syntheseCost()" [max]="max()"></app-synthesis>
    </div>
    <div style="display:flex; flex-direction:row; flex-wrap:wrap; margin-top:5px;">
      @for (tag of deck().tags; track tag.id) {
        <div class="tag"
             [ngStyle]="{'background-color': tag.title === 'guide' ? '#FF474D':'#313282'}">
          @if (tag.iconId) {
            <img class="tagImg" [src]="'/assets/public/tagIcon/'+tag.iconId+''"/>
          }
          <span style="font-size:20px;">{{ tag.title }}</span>
        </div>
      }
    </div>

  </div>
</ng-template>
<ng-template #DESC>
  <div
    style="box-sizing: border-box; display: flex; width: 100%; padding: 5px">
    <div style="width: 100%; border: 2px solid white; padding:10px 5px 5px 5px; position:relative;">
      <span
        style="position:absolute; top:-7px; left:-5px; background:#262241; border: 2px solid white; padding:2px;">Description</span>
      <div #descriptionContainer [innerHTML]="description()"></div>

      @if (displayTwitchIframe()) {
        <div style=" aspect-ratio: 16 / 9;">
          <iframe title='twitchPlayer' [src]="twitchIframeUrl()" height="100%" width="100%"
                  allowfullscreen="true"></iframe>
        </div>
      }

      @if (displayYoutubeIframe()) {
        <div style="width: 100%; background: black; display: flex; justify-content: center">
          <div>
            <youtube-player [videoId]="youtubeVideoId()" [width]="youtubePlayerWidth()"
                            [height]="youtubePlayerHeight()"/>
          </div>
        </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #CARDS>
  <app-view-list [cards]="deck()?.cards"></app-view-list>
</ng-template>
