<km-section [title]="'Tags'" [requiresLogin]="true">
<!--  // en vrai à réagencer pour le fun un jour mais un tableau suffit..-->
  <div class="layout" style="width: 100%">
    <form [formGroup]="formGroup">
    <table style="width: 100%">
      <thead>
      <tr>
        <th style="width: 14%;"> FR</th>
        <th style="width: 14%;"> EN</th>
        <th style="width: 14%;"> ES</th>
        <th style="width: 14%;"> BR</th>
        <th style="width: 14%;"> RU</th>
        <th style="width: 14%;"> Icone</th>
        <th style="width: 14%;"></th>
      </tr>
      </thead>
      <tbody formArrayName="tagArray">
        @for (tag of formArr.controls; track idx; let idx = $index) {
          <tr style="" (click)="select(idx)" [formGroupName]="idx">
            <td style="width: 14%;"> <input formControlName="frTitle"> </td>
            <td style="width: 14%;"> <input formControlName="enTitle"> </td>
            <td style="width: 14%;"> <input formControlName="esTitle"> </td>
            <td style="width: 14%;"> <input formControlName="brTitle"> </td>
            <td style="width: 14%;"> <input formControlName="ruTitle"> </td>
            <td style="width: 14%;"> <input formControlName="iconId"> </td>
            <td style="width: 14%;"> <input formControlName="disabled"> </td>
          </tr>
        }
      </tbody>
    </table>
    <!--    <div style="display: flex; flex-direction: column; width: 100%">-->
    <!--      @for (tag of tags; track tag.id; let idx = $index) {-->
    <!--        <div style="display: flex; flex-direction: row; width: 100%" (click)="select(idx)">-->
    <!--          <div style="width: 14%;"> {{ tag.frTitle }}</div>-->
    <!--          <div style="width: 14%;"> {{ tag.enTitle }}</div>-->
    <!--          <div style="width: 14%;"> {{ tag.esTitle }}</div>-->
    <!--          <div style="width: 14%;"> {{ tag.brTitle }}</div>-->
    <!--          <div style="width: 14%;"> {{ tag.ruTitle }}</div>-->
    <!--          <div style="width: 14%;"> {{ tag.icon }}</div>-->
    <!--          <div style="width: 14%;"> {{ tag.disabled ? 'Actif' : 'Inactif' }}</div>-->
    <!--        </div>-->
    <!--      } @empty {-->
    <!--        C'est vide :'(-->
    <!--      }-->
    <!--    </div>-->
    </form>
  </div>


  <!--  <div class="layout">-->
  <!--    <div style="display: flex; flex-direction: column">-->
  <!--      @for (tag of tags; track tag.id; let idx = $index) {-->
  <!--        <div style="display: flex; flex-direction: row; width: 250px" (click)="select(idx)">-->
  <!--          <div style="width: 50%;"> {{ tag.frTitle }}</div>-->
  <!--          <div style="width: 30%;"> {{ tag.icon }}</div>-->
  <!--          <div style="width: 20%;"> {{ tag.disabled ? 'Actif' : 'Inactif' }}</div>-->
  <!--        </div>-->
  <!--      } @empty {-->
  <!--        C'est vide :'(-->
  <!--      }-->
  <!--    </div>-->

  <!--    <div style="display: flex; flex-direction: column" *ngIf="selectedTag || selectedTag == 0">-->
  <!--      <div style="display: flex; flex-direction: row; width: 250px">-->
  <!--        <div style="width: 50%;"> FR</div>-->
  <!--        <div style="width: 50%;"> {{ tags[selectedTag].frTitle }}</div>-->
  <!--      </div>-->
  <!--      <div style="display: flex; flex-direction: row; width: 250px">-->
  <!--        <div style="width: 50%;"> EN</div>-->
  <!--        <div style="width: 50%;"> {{ tags[selectedTag].enTitle }}</div>-->
  <!--      </div>-->
  <!--      <div style="display: flex; flex-direction: row; width: 250px">-->
  <!--        <div style="width: 50%;"> ES</div>-->
  <!--        <div style="width: 50%;"> {{ tags[selectedTag].esTitle }}</div>-->
  <!--      </div>-->
  <!--      <div style="display: flex; flex-direction: row; width: 250px">-->
  <!--        <div style="width: 50%;"> RU</div>-->
  <!--        <div style="width: 50%;"> {{ tags[selectedTag].ruTitle }}</div>-->
  <!--      </div>-->
  <!--      <div style="display: flex; flex-direction: row; width: 250px">-->
  <!--        <div style="width: 50%;"> BR</div>-->
  <!--        <div style="width: 50%;"> {{ tags[selectedTag].brTitle }}</div>-->
  <!--      </div>-->

  <!--    </div>-->
  <!--  </div>-->

  <button style="width: 50px; height: 50px" (click)="addNewRow()">New</button>
  <button style="width: 50px; height: 50px" (click)="saveAllChanges()">Save</button>
</km-section>
