<div style="margin: 10px">
  <div class="container">
    <div class="cardColumn">
      <div *ngTemplateOutlet="KROSFI"></div>
      <div *ngTemplateOutlet="NEUTRE"></div>
    </div>
    <div class="cardColumn" style="display: flex; flex-direction: column; justify-content: flex-start">
      <div *ngTemplateOutlet="GOD_CREA"></div>
      <div *ngTemplateOutlet="GOD_SPELL"></div>
    </div>
  </div>

  <ng-template #NEUTRE>
    @if (sortedSynthesis()['NEUTRE'].length) {
      <div>
        Neutres
        @for (card of sortedSynthesis()['NEUTRE']; track card.id) {
          <div [ngClass]="['KROSMIQUE','INFINITE'].includes(card.rarity)? card.rarity : card.godType"
               class="card appFont2"
               style="position:relative;">
            <img [src]="'/assets/public/minia/'+CARD_ILLUSTRATIONS[card.id]"
                 style="width:60px; height:30px; position:absolute; left:10px;">
            <div style="position:absolute; left:75px; width:188px;">
              <div
                style="overflow:hidden; padding-bottom:3px; padding-top:3px; text-overflow:ellipsis; white-space:nowrap;">{{ card.name }}
              </div>
            </div>
            <img [src]="'/assets/public/pa/'+card.costAP+'.png'"
                 style="position:absolute; width:37px; height:40px; left:-5px;">

            @if (card.count > 1) {
              <div
                style="position:absolute; right:2px; border:2px solid white; background: black; font-family: monospace;">
                X{{ card.count }}
              </div>
            }
            <div class="cardSpec">
              <img [src]="'/assets/public/card/fr/'+CARD_ILLUSTRATIONS[card.id]">
            </div>

          </div>
        }
      </div>
    }

  </ng-template>
  <ng-template #GOD_CREA>
    @if (sortedSynthesis()['GOD_CREA'].length) {
      <div>
        Créas dieu
        @for (card of sortedSynthesis()['GOD_CREA']; track card.id) {
          <div [ngClass]="['KROSMIQUE','INFINITE'].includes(card.rarity)? card.rarity : card.godType"
               class="card appFont2"
               style="position:relative;"
          >
            <img [src]="'/assets/public/minia/'+CARD_ILLUSTRATIONS[card.id]"
                 style="width:60px; height:30px; position:absolute; left:10px;">
            <div style="position:absolute; left:75px; width:188px;">
              <div
                style="overflow:hidden; padding-bottom:3px; padding-top:3px; text-overflow:ellipsis; white-space:nowrap;">{{ card.name }}
              </div>
            </div>
            <img [src]="'/assets/public/pa/'+card.costAP+'.png'"
                 style="position:absolute; width:37px; height:40px; left:-5px;">

            @if (card.count > 1) {
              <div
                style="position:absolute; right:2px; border:2px solid white; background: black; font-family: monospace;">
                X{{ card.count }}
              </div>
            }
            <div class="cardSpec">
              <img [src]="'/assets/public/card/fr/'+CARD_ILLUSTRATIONS[card.id]">
            </div>
          </div>
        }
      </div>
    }
  </ng-template>

  <ng-template #GOD_SPELL>
    @if (sortedSynthesis()['GOD_SPELL'].length) {
      <div>
        Sorts dieu
        @for (card of sortedSynthesis()['GOD_SPELL']; track card.id) {
          <div [ngClass]="['KROSMIQUE','INFINITE'].includes(card.rarity)? card.rarity : card.godType"
               class="card appFont2"
               style="position:relative;"
          >
            <img [src]="'/assets/public/minia/'+CARD_ILLUSTRATIONS[card.id]"
                 style="width:60px; height:30px; position:absolute; left:10px;">
            <!--        les krosfi sont en x2 donc pas de compteur donc width 215 au lieu de 188? ou alors c'est si count = 1? -->
            <div style="position:absolute; left:75px;"
                 [ngStyle]="{'width.px': 'KROSMIQUE' === card.rarity ? 215: 188}">
              <div
                style="overflow:hidden; padding-bottom:3px; padding-top:3px; text-overflow:ellipsis; white-space:nowrap;">{{ card.name }}
              </div>
            </div>
            <img [src]="'/assets/public/pa/'+card.costAP+'.png'"
                 style="position:absolute; width:37px; height:40px; left:-5px;">

            @if (card.count > 1) {
              <div
                style="position:absolute; right:2px; border:2px solid white; background: black; font-family: monospace;">
                X{{ card.count }}
              </div>
            }
            <div class="cardSpec">
              <img [src]="'/assets/public/card/fr/'+CARD_ILLUSTRATIONS[card.id]">
            </div>
          </div>
        }
      </div>
    }
  </ng-template>

  <ng-template #KROSFI>
    @if (sortedSynthesis()['KROSFI'].length) {
      <div>
        Infinites
        @for (card of sortedSynthesis()['KROSFI']; track card.id) {
          <div [ngClass]="['KROSMIQUE','INFINITE'].includes(card.rarity)? card.rarity : card.godType"
               class="card appFont2"
               style="position:relative;">
            <img [src]="'/assets/public/minia/'+CARD_ILLUSTRATIONS[card.id]"
                 style="width:60px; height:30px; position:absolute; left:10px;">
            <div style="position:absolute; left:75px; width:215px;">
              <div
                style="overflow:hidden; padding-bottom:3px; padding-top:3px; text-overflow:ellipsis; white-space:nowrap;">{{ card.name }}
              </div>
            </div>
            <img [src]="'/assets/public/pa/'+card.costAP+'.png'"
                 style="position:absolute; width:37px; height:40px; left:-5px;">

            @if (card.count > 1) {
              <div
                style="position:absolute; right:2px; border:2px solid white; background: black; font-family: monospace;">
                X{{ card.count }}
              </div>
            }
            <div class="cardSpec">
              <img [src]="'/assets/public/card/fr/'+CARD_ILLUSTRATIONS[card.id]">
            </div>
          </div>
        }
      </div>
    }

  </ng-template>
</div>
