
.card {
  border: rgba(255, 255, 255, 0.62) solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
}

.card {
  height: 40px;
  width: 300px;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.62);
  display: flex;
  align-items: center;

  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-text-stroke: 0.7px #000000;
}

.card > img {
  width: 50px;
  height: 90%;
  margin-right: 10px;
  margin-left: 1px;
  border-radius: 3px;
}

.container {
  display: flex;
  justify-content: space-around
}

.card .cardSpec { display:none;}

.card:hover>.cardSpec { display:block; z-index:20;}
