<div style="display: flex; height: 140px; width:230px; flex-direction: column;justify-content: space-evenly;">
  @for (rarity of rarities['fr']; track rarity; ) {
    <span class="appFont2" [ngClass]="rarity.color"
          style="display: flex;align-items: center; justify-content: space-between">
       <span style="display: flex; align-items: baseline">
         <span [ngClass]="rarity.bgColor"
               style="display: block; width:14px; height:14px; margin: 0 5px; clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);"></span>
    <span>{{ rarity.label }}</span>
       </span>
    <span>{{ raritySynthesis()[rarity.key] }}</span>
    </span>

  }
</div>
