<div style="display: flex; height: 140px; width:230px; flex-direction: column;justify-content: space-evenly;">
  <span style="display:flex; justify-content:flex-end;">
  <img [src]="'/assets/public/creatureIcon.png'" class="iconType">
  <img [src]="'/assets/public/spellIcon.png'" style="margin-left:8px;" class="iconType">
    </span>
  @for (rarity of rarities; track rarity; ) {
    <span class="appFont2" [ngClass]="rarity.color"
          style="display: flex;align-items: center; justify-content: space-between">
      <span style="display: flex; align-items: baseline">
        <span [ngClass]="rarity.bgColor"
              style="display: block; width:14px; height:14px; margin: 0 5px; clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);"></span>
        <span>{{ rarity.label | translate }}</span>
      </span>
      <span style="display:flex;">
        @for (type of cardType; track type; ) {
          @if (raritySynthesis()[rarity.key][type.key]) {
            <span class="rarityCount">{{ raritySynthesis()[rarity.key][type.key] }}</span>
          } @else {
            <span class="rarityCount"> - </span>
          }
        }
      </span>
    </span>
  }
</div>
