@import '../node_modules/quill/dist/quill.snow.css';

:root {
  --header-height: 60px;
  --header-menu: 40px;
}

html, body {
  height: calc(100% - 2px);
  //overflow-y: hidden;
}

body {
  margin: 0 !important;
  //font-family: Roboto, "Helvetica Neue", sans-serif;

}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ba82ff !important;
  border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bba6e8 !important;
  border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8952cc !important;
}


@font-face {
  font-family: 'KM_font';
  src: url('/assets/BebasNeue.otf') format('opentype'); ;
}


@font-face {
  font-family: 'geo1';
  src: url('./assets/Geomanist-Book.woff2') format('woff2'); ;
}

@font-face {
  font-family: 'geo2';
  src: url('/assets/Geomanist-Bold.woff2') format('woff2'); ;
}


.endModalCss {
  .mat-mdc-dialog-surface {
    display: flex;
    flex-direction: column;
    //flex-grow: 0;
    //flex-shrink: 0;
    //box-sizing: border-box;
    width: 400px;
    height: 200px;
    position: relative;
    //overflow-y: auto;
    //outline: 0;
    //transform: unset;
    //transition: unset;
    //max-height: unset;
    //min-height: 200px;
    //min-width: unset;
    //max-width: unset;
    box-shadow: var(--mat-dialog-container-elevation-shadow, 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12));
    border-radius: unset;
    background-color: unset;
  }

}



