/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '../node_modules/quill/dist/quill.snow.css';

html, body {
  height: 100%;
  //height: calc(100% - 2px);
}

html {
  @include mat.theme((
    density: 50,
  ));
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --header-height: 60px;
  --header-menu: 40px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@font-face {
  font-family: 'KM_font';
  src: url('/assets/BebasNeue.otf') format('opentype'); ;
}


@font-face {
  font-family: 'geo1';
  src: url('./assets/Geomanist-Book.woff2') format('woff2'); ;
}

@font-face {
  font-family: 'geo2';
  src: url('/assets/Geomanist-Bold.woff2') format('woff2'); ;
}

.endModalCss {
  .mat-mdc-dialog-surface {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    position: relative;
    //box-shadow: var(--mat-dialog-container-elevation-shadow, 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12));
    border-radius: unset;
    background-color: unset;
  }

}
